# Data and Regression in Python

## Non-standard Libraries

- Python is good a lot of stuff
    - The standard library has lists, tuples, dictionaries, loops, many more things
- But sometimes you need to use libraries outside of the standard library for whatever you're doing. For instance:
    - `BeautifulSoup` for web scraping
    - `numpy` for math/matrices
    - `itertools` for permutations/combinations and looping tools
    - `jupyter` comes with its own library for creating notebooks on the fly and converting notebooks to other filetypes
    - `matplotlib` for making nice graphs
    - `nltk` for natural language processing
- In this class, we're going to be using two libraries:
    - `pandas` for data loading/cleaning/visualization
    - `statsmodels` for running regression

## What is an import?

- An import tells Python that you want to use a particular library that isn't a standard one 
- Usually you put all import statements in the beginning of your script 
    - Best practice is to put all imports in the beginning of the script to make it more readable and to allow any part of your code to call all your libraries
    - Since Python runs your script in order, it loads libraries first and understands when you call it afterwards.

In [1]:
numpy.array([1,2,3])

NameError: name 'numpy' is not defined

In [2]:
import numpy

numpy.array([1,2,3])

array([1, 2, 3])

In [3]:
## Import statements

import pandas
import numpy
import statsmodels.api

## Using Imported Libraries

- Once you've imported your libraries, you can call the functions from those libraries using....

- Periods! 
- The period after the library means that you're calling a "method" (function) or attribute (kind of like a characterizing feature) from within numpy

In [5]:
numpy.array([1,2,34]).var()

my_array = numpy.array([1,2,34])

my_array.var()

234.88888888888883

## Using import abbreviations

- Sometimes we don't really want to keep writing numpy, pandas statsmodels.api in front of every command
- We can use abbreviations in order to give our library a short name we can use

In [32]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as sm

- Now we can call everything like so:

`my_array = np.array([1,2,34])`

## Before embarking on Pandas and statsmodels

- Before we learn about dataframes, we need to quickly learn about lambda functions
- Lambda functions are a nice feature of Python as they allow you a way to write a function that you'll only really use once.
- `lambda variable: expression`

In [7]:
sum_func = lambda x: x+1

sum_func(3)

4

-  As we'll see in a bit, we can use lambda functions to make new variables in a pandas dataframe.
- Only in this case, the `x` would refer to an observation in a variable.
    - It will make more sense in a bit.

## Pandas

- Pandas is a data library for Python, which is based on the idea of "dataframes" 
- You can think of a dataframe as a souped up dictionary or list
- As in, a pandas dataframe has methods that are statistics specific
    - Calling a subset yields another dataframe
    - means, variances, sums
    - data merging
    - checking and filling in missing values
    - plotting data
    - Creating more "columns" using already existing columns

## What is a dataframe?

- A Pandas dataframe is made up of: columns, rows and an index
- column = variable
- row = obervation
- index is how we count the observations
    - we can use indexes in more complicated ways later
    - Foreshadowing: panel data
        - Household, year data
- A "vector" of data is called a pandas "Series"
    - It's still part of pandas, but doesn't have exactly the same capabilities
    - A full dataframe is made up of many series put together

In [29]:
## Load in raw_data
raw_df = pd.read_csv("https://raw.githubusercontent.com/lordflaron/ARE106data/master/lawsch85.csv")
raw_df

     Unnamed: 0   rank   salary     cost   LSAT   GPA  libvol  faculty    age  \
0             0  128.0  31400.0   8340.0  155.0  3.15   216.0     45.0   12.0
1             1  104.0  33098.0   6980.0  160.0  3.50   256.0     44.0  113.0
2             2   34.0  32870.0  16370.0  155.0  3.25   424.0     78.0  134.0
3             3   49.0  35000.0  17566.0  157.0  3.20   329.0    136.0   89.0
4             4   95.0  33606.0   8350.0  162.0  3.38   332.0     56.0   70.0
5             5   98.0  31700.0   8350.0  161.0  3.40   311.0     40.0   29.0
6             6  124.0  30410.0   6020.0  155.0  3.16   220.0     40.0   61.0
7             7  157.0  30150.0   5986.0  152.0  3.12   230.0     45.0   60.0
8             8  145.0  31300.0   4785.0  155.0  3.12   230.0    101.0   70.0
9             9   91.0  33200.0   7680.0  160.0  3.66   157.0     44.0  128.0
10           10   50.0  34900.0  17720.0  165.0  3.55   320.0     78.0   56.0
11           11   23.0  55413.0  16160.0  163.0  3.42   470.0    128.0  115.0
12           12   78.0  33750.0   6300.0  162.0  3.60   330.0     48.0    NaN
13           13    5.0  65000.0  11387.0  167.0  3.70   600.0     80.0    NaN
14           14   27.0      NaN  12058.0  164.0  3.45   371.0     38.0   20.0
15           15   19.0  62000.0  12478.0  163.0  3.55   542.0    114.0  107.0
16           16   13.0  63000.0  12202.0  165.0  3.57   470.0     96.0    NaN
17           17  115.0  31300.0  15700.0  156.0  3.20   208.0     80.0    NaN
18           18  171.0  28500.0  11750.0  156.0  3.20   147.0     35.0    9.0
19           19  131.0  30100.0  12927.0  154.0  3.25   215.0     31.0    NaN
20           20   72.0  33650.0  16545.0  160.0  3.30   352.0     72.0    NaN
21           21   55.0  40325.0  16680.0  158.0  3.30   305.0      NaN   93.0
22           22    4.0  70000.0  19392.0  168.0  3.75   555.0     40.0    NaN
23           23   90.0  32800.0  11268.0  162.0  3.37   339.0     51.0  152.0
24           24  133.0      NaN  10808.0    NaN   NaN   290.0     72.0   26.0
25           25   65.0  35000.0  12537.0  164.0  3.31   280.0     62.0    NaN
26           26    7.0  78325.0  20518.0  168.0  3.60   735.0    101.0    NaN
27           27   84.0      NaN  16036.0  160.0  3.29   383.0     95.0    NaN
28           28   10.0  67500.0  19200.0  163.0  3.55   400.0     56.0    NaN
29           29  112.0      NaN  12376.0  154.0  3.20   198.0     51.0  107.0
..          ...    ...      ...      ...    ...   ...     ...      ...    ...
126         126   45.0  41150.0  13300.0  157.0  3.30   439.0    190.0   90.0
127         127  117.0  29499.0   7716.0    NaN   NaN   345.0      NaN   95.0
128         128   12.0  59500.0   8640.0  163.0  3.50   850.0      NaN   78.0
129         129  170.0  27000.0      NaN  145.0  2.73   300.0     45.0   38.0
130         130  101.0  35500.0   4388.0  157.0  3.10   260.0     58.0   79.0
131         131  121.0  29799.0      NaN  149.0   NaN   305.0     51.0   13.0
132         132  154.0  29600.0  10280.0  157.0  3.10   260.0     58.0   79.0
133         133  174.0  25000.0  14470.0  152.0  2.80   310.0     65.0    NaN
134         134  100.0  36000.0   8715.0  155.0  3.00   260.0     56.0    NaN
135         135   29.0  49000.0   8529.0  161.0  3.55   264.0     55.0    NaN
136         136   69.0  35000.0  13710.0  155.0  3.30   215.0     42.0  196.0
137         137   16.0  57000.0  17750.0  164.0  3.62   329.0     75.0  112.0
138         138  152.0  29669.0  15114.0  159.0  3.20   175.0     53.0    NaN
139         139   63.0  37000.0  15620.0  160.0  3.41   420.0     74.0   32.0
140         140   15.0  64000.0  15678.0  164.0  3.60   700.0    107.0  160.0
141         141  111.0  29700.0  14200.0  162.0  3.31   250.0     67.0   91.0
142         142  102.0  35000.0   7000.0  154.0  3.27   251.0     59.0   82.0
143         143   25.0  49000.0  10000.0  163.0  3.63   450.0     69.0   86.0
144         144   16.0  51490.0  13600.0  163.0  3.47   297.0     48.0  136.0
145         145   41.0  41500.0  17750.0  160.0  3.20   476.0     86.0  118.0
146         146   67.0  35000.0   6700.0  158.0  3.35   415.0     66.0   58.0
147         147  135.0  27900.0  11775.0  153.0  3.08   301.0     59.0    NaN
148         148  156.0  29630.0  15960.0  155.0  3.00   230.0     40.0   10.0
149         149  138.0  29750.0  14200.0  154.0  3.10   481.0    206.0    NaN
150         150   66.0  36000.0  12800.0  157.0  3.20   244.0     39.0  102.0
151         151   17.0  49321.0  13530.0  162.0  3.34   300.0     50.0  206.0
152         152   21.0  49900.0  11334.0  161.0  3.40     NaN     47.0    NaN
153         153  143.0  31500.0   7396.0  157.0  3.40   174.0     17.0   65.0
154         154    3.0  69000.0  19780.0  171.0  3.82   850.0    100.0  140.0
155         155  120.0  29800.0  12870.0    NaN   NaN   200.0     35.0    NaN

     clsize  ...  east  west   lsalary   studfac  top10  r11_25  r26_40  \
0     210.0  ...   0.0   0.0  10.35456  4.666667    0.0     0.0     0.0
1     190.0  ...   0.0   0.0  10.40723  4.318182    0.0     0.0     0.0
2     270.0  ...   1.0   0.0  10.40032  3.461539    0.0     0.0     1.0
3     277.0  ...   1.0   0.0  10.46310  2.036765    0.0     0.0     0.0
4     150.0  ...   0.0   1.0  10.42246  2.678571    0.0     0.0     0.0
5     156.0  ...   0.0   1.0  10.36407  3.900000    0.0     0.0     0.0
6     151.0  ...   0.0   0.0  10.32253  3.775000    0.0     0.0     0.0
7     149.0  ...   0.0   0.0  10.31394  3.311111    0.0     0.0     0.0
8     322.0  ...   1.0   0.0  10.35137  3.188119    0.0     0.0     0.0
9      70.0  ...   0.0   0.0  10.41031  1.590909    0.0     0.0     0.0
10    269.0  ...   1.0   0.0  10.46024  3.448718    0.0     0.0     0.0
11    381.0  ...   1.0   0.0  10.92257  2.976563    0.0     1.0     0.0
12    153.0  ...   0.0   1.0  10.42674  3.187500    0.0     0.0     0.0
13    269.0  ...   0.0   1.0  11.08214  3.362500    1.0     0.0     0.0
14    160.0  ...   0.0   1.0       NaN  4.210526    0.0     0.0     1.0
15    419.0  ...   0.0   1.0  11.03489  3.675439    0.0     1.0     0.0
16    350.0  ...   0.0   1.0  11.05089  3.645833    0.0     1.0     0.0
17    375.0  ...   0.0   1.0  10.35137  4.687500    0.0     0.0     0.0
18    119.0  ...   1.0   0.0  10.25766  3.400000    0.0     0.0     0.0
19    262.0  ...   0.0   0.0  10.31228  8.451612    0.0     0.0     0.0
20    255.0  ...   1.0   0.0  10.42377  3.541667    0.0     0.0     0.0
21    220.0  ...   0.0   0.0  10.60473       NaN    0.0     0.0     0.0
22    178.0  ...   0.0   0.0  11.15625  4.450000    1.0     0.0     0.0
23    134.0  ...   0.0   0.0  10.39818  2.627451    0.0     0.0     0.0
24    300.0  ...   0.0   0.0       NaN  4.166667    0.0     0.0     0.0
25    167.0  ...   0.0   1.0  10.46310  2.693548    0.0     0.0     0.0
26    345.0  ...   1.0   0.0  11.26862  3.415842    1.0     0.0     0.0
27    133.0  ...   1.0   0.0       NaN  1.400000    0.0     0.0     0.0
28    191.0  ...   1.0   0.0  11.11988  3.410714    1.0     0.0     0.0
29    188.0  ...   0.0   1.0       NaN  3.686275    0.0     0.0     0.0
..      ...  ...   ...   ...       ...       ...    ...     ...     ...
126   396.0  ...   1.0   0.0  10.62498  2.084211    0.0     0.0     0.0
127   169.0  ...   0.0   0.0  10.29211       NaN    0.0     0.0     0.0
128   523.0  ...   0.0   0.0  10.99373       NaN    0.0     1.0     0.0
129   230.0  ...   0.0   0.0  10.20359  5.111111    0.0     0.0     0.0
130   232.0  ...   0.0   0.0  10.47729  4.000000    0.0     0.0     0.0
131   285.0  ...   0.0   0.0  10.30223  5.588235    0.0     0.0     0.0
132   232.0  ...   0.0   0.0  10.29553  4.000000    0.0     0.0     0.0
133   286.0  ...   1.0   0.0  10.12663  4.400000    0.0     0.0     0.0
134   216.0  ...   0.0   0.0  10.49127  3.857143    0.0     0.0     0.0
135   124.0  ...   0.0   1.0  10.79958  2.254545    0.0     0.0     1.0
136   175.0  ...   0.0   0.0  10.46310  4.166667    0.0     0.0     0.0
137   187.0  ...   0.0   0.0  10.95081  2.493333    0.0     1.0     0.0
138   163.0  ...   1.0   0.0  10.29786  3.075472    0.0     0.0     0.0
139   228.0  ...   1.0   0.0  10.51867  3.081081    0.0     0.0     0.0
140   380.0  ...   1.0   0.0  11.06664  3.551402    0.0     1.0     0.0
141   165.0  ...   1.0   0.0  10.29890  2.462687    0.0     0.0     0.0
142   148.0  ...   0.0   1.0  10.46310  2.508475    0.0     0.0     0.0
143   148.0  ...   0.0   1.0  10.79958  2.144928    0.0     1.0     0.0
144   125.0  ...   1.0   0.0  10.84914  2.604167    0.0     1.0     0.0
145   210.0  ...   0.0   1.0  10.63345  2.441860    0.0     0.0     0.0
146   234.0  ...   0.0   0.0  10.46310  3.545455    0.0     0.0     0.0
147   251.0  ...   1.0   0.0  10.23638  4.254237    0.0     0.0     0.0
148   247.0  ...   0.0   1.0  10.29654  6.175000    0.0     0.0     0.0
149   679.0  ...   1.0   0.0  10.30058  3.296117    0.0     0.0     0.0
150   182.0  ...   1.0   0.0  10.49127  4.666667    0.0     0.0     0.0
151   178.0  ...   1.0   0.0  10.80611  3.560000    0.0     1.0     0.0
152   285.0  ...   0.0   0.0  10.81778  6.063830    0.0     1.0     0.0
153    79.0  ...   0.0   1.0  10.35774  4.647059    0.0     0.0     0.0
154   101.0  ...   1.0   0.0  11.14186  1.010000    1.0     0.0     0.0
155   327.0  ...   0.0   0.0  10.30226  9.342857    0.0     0.0     0.0

     r41_60   llibvol     lcost
0       0.0  5.375278  9.028818
1       0.0  5.545177  8.850804
2       0.0  6.049734  9.703206
3       1.0  5.796058  9.773721
4       0.0  5.805135  9.030017
5       0.0  5.739793  9.030017
6       0.0  5.393628  8.702843
7       0.0  5.438079  8.697179
8       0.0  5.43807

In [11]:
raw_df.columns

Index(['Unnamed: 0', 'rank', 'salary', 'cost', 'LSAT', 'GPA', 'libvol',
       'faculty', 'age', 'clsize', 'north', 'south', 'east', 'west', 'lsalary',
       'studfac', 'top10', 'r11_25', 'r26_40', 'r41_60', 'llibvol', 'lcost'],
      dtype='object')

In [12]:
raw_df.index

RangeIndex(start=0, stop=156, step=1)

- To get just a snippet of data, we can use the `head()` and `tail()` methods
    - `head()` gets us the first observations
    - `tail()` get us the last observations
    - The default is 5, but can we change that by using the `n` option

In [18]:
raw_df.head()

,Unnamed: 0,rank,salary,cost,LSAT,GPA,libvol,faculty,age,clsize,...,east,west,lsalary,studfac,top10,r11_25,r26_40,r41_60,llibvol,lcost
0,0,128.0,31400.0,8340.0,155.0,3.15,216.0,45.0,12.0,210.0,...,0.0,0.0,10.35456,4.666667,0.0,0.0,0.0,0.0,5.375278,9.028818
1,1,104.0,33098.0,6980.0,160.0,3.50,256.0,44.0,113.0,190.0,...,0.0,0.0,10.40723,4.318182,0.0,0.0,0.0,0.0,5.545177,8.850804
2,2,34.0,32870.0,16370.0,155.0,3.25,424.0,78.0,134.0,270.0,...,1.0,0.0,10.40032,3.461539,0.0,0.0,1.0,0.0,6.049734,9.703206
3,3,49.0,35000.0,17566.0,157.0,3.20,329.0,136.0,89.0,277.0,...,1.0,0.0,10.46310,2.036765,0.0,0.0,0.0,1.0,5.796058,9.773721
4,4,95.0,33606.0,8350.0,162.0,3.38,332.0,56.0,70.0,150.0,...,0.0,1.0,10.42246,2.678571,0.0,0.0,0.0,0.0,5.805135,9.030017

In [19]:
raw_df.tail(n=10)

,Unnamed: 0,rank,salary,cost,LSAT,GPA,libvol,faculty,age,clsize,...,east,west,lsalary,studfac,top10,r11_25,r26_40,r41_60,llibvol,lcost
146,146,67.0,35000.0,6700.0,158.0,3.35,415.0,66.0,58.0,234.0,...,0.0,0.0,10.46310,3.545455,0.0,0.0,0.0,0.0,6.028278,8.809863
147,147,135.0,27900.0,11775.0,153.0,3.08,301.0,59.0,NaN,251.0,...,1.0,0.0,10.23638,4.254237,0.0,0.0,0.0,0.0,5.707110,9.373734
148,148,156.0,29630.0,15960.0,155.0,3.00,230.0,40.0,10.0,247.0,...,0.0,1.0,10.29654,6.175000,0.0,0.0,0.0,0.0,5.438079,9.677841
149,149,138.0,29750.0,14200.0,154.0,3.10,481.0,206.0,NaN,679.0,...,1.0,0.0,10.30058,3.296117,0.0,0.0,0.0,0.0,6.175867,9.560997
150,150,66.0,36000.0,12800.0,157.0,3.20,244.0,39.0,102.0,182.0,...,1.0,0.0,10.49127,4.666667,0.0,0.0,0.0,0.0,5.497168,9.457200
151,151,17.0,49321.0,13530.0,162.0,3.34,300.0,50.0,206.0,178.0,...,1.0,0.0,10.80611,3.560000,0.0,1.0,0.0,0.0,5.703783,9.512665
152,152,21.0,49900.0,11334.0,161.0,3.40,NaN,47.0,NaN,285.0,...,0.0,0.0,10.81778,6.063830,0.0,1.0,0.0,0.0,NaN,9.335563
153,153,143.0,31500.0,7396.0,157.0,3.40,174.0,17.0,65.0,79.0,...,0.0,1.0,10.35774,4.647059,0.0,0.0,0.0,0.0,5.159055,8.908694
154,154,3.0,69000.0,19780.0,171.0,3.82,850.0,100.0,140.0,101.0,...,1.0,0.0,11.14186,1.010000,1.0,0.0,0.0,0.0,6.745236,9.892426
155,155,120.0,29800.0,12870.0,NaN,NaN,200.0,35.0,NaN,327.0,...,0.0,0.0,10.30226,9.342857,0.0,0.0,0.0,0.0,5.298317,9.462654

- To get a look at just one variable, you can do it one of two ways:
    - `raw_df.variable`
    - `raw_df['variable']`
        - Sort of like a dictionary!
    - if there are spaces in the variable name (there usually shouldn't be though), use the second

In [14]:
raw_df.salary.head()

0    31400.0
1    33098.0
2    32870.0
3    35000.0
4    33606.0
Name: salary, dtype: float64

In [21]:
raw_df['salary'].head()

0    31400.0
1    33098.0
2    32870.0
3    35000.0
4    33606.0
Name: salary, dtype: float64

- If you wanted to get just some variables (a subset), you can use a sort of slicing notation

In [23]:
subset = ['salary', 'GPA']
raw_df[subset].head()

    salary   GPA
0  31400.0  3.15
1  33098.0  3.50
2  32870.0  3.25
3  35000.0  3.20
4  33606.0  3.38

## Assigning a new column (variable)

- Now let's think about how to make a new variable
- Sometimes we might need to do that
    - Like in the homework, for example
- How would we do the $1000*x$ operation in `pandas`?
- Note: remember about *inplace* operations
- assigning a new variable won't actually change the raw data itself

In [30]:
#raw_df.assign(salary_times_thousand = lambda x: x['salary']*1000, inplace=True)
raw_df.assign(salary_times_thousand = lambda x: x['salary']*1000)

     Unnamed: 0   rank   salary     cost   LSAT   GPA  libvol  faculty    age  \
0             0  128.0  31400.0   8340.0  155.0  3.15   216.0     45.0   12.0
1             1  104.0  33098.0   6980.0  160.0  3.50   256.0     44.0  113.0
2             2   34.0  32870.0  16370.0  155.0  3.25   424.0     78.0  134.0
3             3   49.0  35000.0  17566.0  157.0  3.20   329.0    136.0   89.0
4             4   95.0  33606.0   8350.0  162.0  3.38   332.0     56.0   70.0
5             5   98.0  31700.0   8350.0  161.0  3.40   311.0     40.0   29.0
6             6  124.0  30410.0   6020.0  155.0  3.16   220.0     40.0   61.0
7             7  157.0  30150.0   5986.0  152.0  3.12   230.0     45.0   60.0
8             8  145.0  31300.0   4785.0  155.0  3.12   230.0    101.0   70.0
9             9   91.0  33200.0   7680.0  160.0  3.66   157.0     44.0  128.0
10           10   50.0  34900.0  17720.0  165.0  3.55   320.0     78.0   56.0
11           11   23.0  55413.0  16160.0  163.0  3.42   470.0    128.0  115.0
12           12   78.0  33750.0   6300.0  162.0  3.60   330.0     48.0    NaN
13           13    5.0  65000.0  11387.0  167.0  3.70   600.0     80.0    NaN
14           14   27.0      NaN  12058.0  164.0  3.45   371.0     38.0   20.0
15           15   19.0  62000.0  12478.0  163.0  3.55   542.0    114.0  107.0
16           16   13.0  63000.0  12202.0  165.0  3.57   470.0     96.0    NaN
17           17  115.0  31300.0  15700.0  156.0  3.20   208.0     80.0    NaN
18           18  171.0  28500.0  11750.0  156.0  3.20   147.0     35.0    9.0
19           19  131.0  30100.0  12927.0  154.0  3.25   215.0     31.0    NaN
20           20   72.0  33650.0  16545.0  160.0  3.30   352.0     72.0    NaN
21           21   55.0  40325.0  16680.0  158.0  3.30   305.0      NaN   93.0
22           22    4.0  70000.0  19392.0  168.0  3.75   555.0     40.0    NaN
23           23   90.0  32800.0  11268.0  162.0  3.37   339.0     51.0  152.0
24           24  133.0      NaN  10808.0    NaN   NaN   290.0     72.0   26.0
25           25   65.0  35000.0  12537.0  164.0  3.31   280.0     62.0    NaN
26           26    7.0  78325.0  20518.0  168.0  3.60   735.0    101.0    NaN
27           27   84.0      NaN  16036.0  160.0  3.29   383.0     95.0    NaN
28           28   10.0  67500.0  19200.0  163.0  3.55   400.0     56.0    NaN
29           29  112.0      NaN  12376.0  154.0  3.20   198.0     51.0  107.0
..          ...    ...      ...      ...    ...   ...     ...      ...    ...
126         126   45.0  41150.0  13300.0  157.0  3.30   439.0    190.0   90.0
127         127  117.0  29499.0   7716.0    NaN   NaN   345.0      NaN   95.0
128         128   12.0  59500.0   8640.0  163.0  3.50   850.0      NaN   78.0
129         129  170.0  27000.0      NaN  145.0  2.73   300.0     45.0   38.0
130         130  101.0  35500.0   4388.0  157.0  3.10   260.0     58.0   79.0
131         131  121.0  29799.0      NaN  149.0   NaN   305.0     51.0   13.0
132         132  154.0  29600.0  10280.0  157.0  3.10   260.0     58.0   79.0
133         133  174.0  25000.0  14470.0  152.0  2.80   310.0     65.0    NaN
134         134  100.0  36000.0   8715.0  155.0  3.00   260.0     56.0    NaN
135         135   29.0  49000.0   8529.0  161.0  3.55   264.0     55.0    NaN
136         136   69.0  35000.0  13710.0  155.0  3.30   215.0     42.0  196.0
137         137   16.0  57000.0  17750.0  164.0  3.62   329.0     75.0  112.0
138         138  152.0  29669.0  15114.0  159.0  3.20   175.0     53.0    NaN
139         139   63.0  37000.0  15620.0  160.0  3.41   420.0     74.0   32.0
140         140   15.0  64000.0  15678.0  164.0  3.60   700.0    107.0  160.0
141         141  111.0  29700.0  14200.0  162.0  3.31   250.0     67.0   91.0
142         142  102.0  35000.0   7000.0  154.0  3.27   251.0     59.0   82.0
143         143   25.0  49000.0  10000.0  163.0  3.63   450.0     69.0   86.0
144         144   16.0  51490.0  13600.0  163.0  3.47   297.0     48.0  136.0
145         145   41.0  41500.0  17750.0  160.0  3.20   476.0     86.0  118.0
146         146   67.0  35000.0   6700.0  158.0  3.35   415.0     66.0   58.0
147         147  135.0  27900.0  11775.0  153.0  3.08   301.0     59.0    NaN
148         148  156.0  29630.0  15960.0  155.0  3.00   230.0     40.0   10.0
149         149  138.0  29750.0  14200.0  154.0  3.10   481.0    206.0    NaN
150         150   66.0  36000.0  12800.0  157.0  3.20   244.0     39.0  102.0
151         151   17.0  49321.0  13530.0  162.0  3.34   300.0     50.0  206.0
152         152   21.0  49900.0  11334.0  161.0  3.40     NaN     47.0    NaN
153         153  143.0  31500.0   7396.0  157.0  3.40   174.0     17.0   65.0
154         154    3.0  69000.0  19780.0  171.0  3.82   850.0    100.0  140.0
155         155  120.0  29800.0  12870.0    NaN   NaN   200.0     35.0    NaN

     clsize  ...  west   lsalary   studfac  top10  r11_25  r26_40  r41_60  \
0     210.0  ...   0.0  10.35456  4.666667    0.0     0.0     0.0     0.0
1     190.0  ...   0.0  10.40723  4.318182    0.0     0.0     0.0     0.0
2     270.0  ...   0.0  10.40032  3.461539    0.0     0.0     1.0     0.0
3     277.0  ...   0.0  10.46310  2.036765    0.0     0.0     0.0     1.0
4     150.0  ...   1.0  10.42246  2.678571    0.0     0.0     0.0     0.0
5     156.0  ...   1.0  10.36407  3.900000    0.0     0.0     0.0     0.0
6     151.0  ...   0.0  10.32253  3.775000    0.0     0.0     0.0     0.0
7     149.0  ...   0.0  10.31394  3.311111    0.0     0.0     0.0     0.0
8     322.0  ...   0.0  10.35137  3.188119    0.0     0.0     0.0     0.0
9      70.0  ...   0.0  10.41031  1.590909    0.0     0.0     0.0     0.0
10    269.0  ...   0.0  10.46024  3.448718    0.0     0.0     0.0     1.0
11    381.0  ...   0.0  10.92257  2.976563    0.0     1.0     0.0     0.0
12    153.0  ...   1.0  10.42674  3.187500    0.0     0.0     0.0     0.0
13    269.0  ...   1.0  11.08214  3.362500    1.0     0.0     0.0     0.0
14    160.0  ...   1.0       NaN  4.210526    0.0     0.0     1.0     0.0
15    419.0  ...   1.0  11.03489  3.675439    0.0     1.0     0.0     0.0
16    350.0  ...   1.0  11.05089  3.645833    0.0     1.0     0.0     0.0
17    375.0  ...   1.0  10.35137  4.687500    0.0     0.0     0.0     0.0
18    119.0  ...   0.0  10.25766  3.400000    0.0     0.0     0.0     0.0
19    262.0  ...   0.0  10.31228  8.451612    0.0     0.0     0.0     0.0
20    255.0  ...   0.0  10.42377  3.541667    0.0     0.0     0.0     0.0
21    220.0  ...   0.0  10.60473       NaN    0.0     0.0     0.0     1.0
22    178.0  ...   0.0  11.15625  4.450000    1.0     0.0     0.0     0.0
23    134.0  ...   0.0  10.39818  2.627451    0.0     0.0     0.0     0.0
24    300.0  ...   0.0       NaN  4.166667    0.0     0.0     0.0     0.0
25    167.0  ...   1.0  10.46310  2.693548    0.0     0.0     0.0     0.0
26    345.0  ...   0.0  11.26862  3.415842    1.0     0.0     0.0     0.0
27    133.0  ...   0.0       NaN  1.400000    0.0     0.0     0.0     0.0
28    191.0  ...   0.0  11.11988  3.410714    1.0     0.0     0.0     0.0
29    188.0  ...   1.0       NaN  3.686275    0.0     0.0     0.0     0.0
..      ...  ...   ...       ...       ...    ...     ...     ...     ...
126   396.0  ...   0.0  10.62498  2.084211    0.0     0.0     0.0     1.0
127   169.0  ...   0.0  10.29211       NaN    0.0     0.0     0.0     0.0
128   523.0  ...   0.0  10.99373       NaN    0.0     1.0     0.0     0.0
129   230.0  ...   0.0  10.20359  5.111111    0.0     0.0     0.0     0.0
130   232.0  ...   0.0  10.47729  4.000000    0.0     0.0     0.0     0.0
131   285.0  ...   0.0  10.30223  5.588235    0.0     0.0     0.0     0.0
132   232.0  ...   0.0  10.29553  4.000000    0.0     0.0     0.0     0.0
133   286.0  ...   0.0  10.12663  4.400000    0.0     0.0     0.0     0.0
134   216.0  ...   0.0  10.49127  3.857143    0.0     0.0     0.0     0.0
135   124.0  ...   1.0  10.79958  2.254545    0.0     0.0     1.0     0.0
136   175.0  ...   0.0  10.46310  4.166667    0.0     0.0     0.0     0.0
137   187.0  ...   0.0  10.95081  2.493333    0.0     1.0     0.0     0.0
138   163.0  ...   0.0  10.29786  3.075472    0.0     0.0     0.0     0.0
139   228.0  ...   0.0  10.51867  3.081081    0.0     0.0     0.0     0.0
140   380.0  ...   0.0  11.06664  3.551402    0.0     1.0     0.0     0.0
141   165.0  ...   0.0  10.29890  2.462687    0.0     0.0     0.0     0.0
142   148.0  ...   1.0  10.46310  2.508475    0.0     0.0     0.0     0.0
143   148.0  ...   1.0  10.79958  2.144928    0.0     1.0     0.0     0.0
144   125.0  ...   0.0  10.84914  2.604167    0.0     1.0     0.0     0.0
145   210.0  ...   1.0  10.63345  2.441860    0.0     0.0     0.0     1.0
146   234.0  ...   0.0  10.46310  3.545455    0.0     0.0     0.0     0.0
147   251.0  ...   0.0  10.23638  4.254237    0.0     0.0     0.0     0.0
148   247.0  ...   1.0  10.29654  6.175000    0.0     0.0     0.0     0.0
149   679.0  ...   0.0  10.30058  3.296117    0.0     0.0     0.0     0.0
150   182.0  ...   0.0  10.49127  4.666667    0.0     0.0     0.0     0.0
151   178.0  ...   0.0  10.80611  3.560000    0.0     1.0     0.0     0.0
152   285.0  ...   0.0  10.81778  6.063830    0.0     1.0     0.0     0.0
153    79.0  ...   1.0  10.35774  4.647059    0.0     0.0     0.0     0.0
154   101.0  ...   0.0  11.14186  1.010000    1.0     0.0     0.0     0.0
155   327.0  ...   0.0  10.30226  9.342857    0.0     0.0     0.0     0.0

      llibvol     lcost  salary_times_thousand
0    5.375278  9.028818             31400000.0
1    5.545177  8.850804             33098000.0
2    6.049734  9.703206             32870000.0
3    5

In [25]:
raw_df['salary_times_thousand']

KeyError: 'salary_times_thousand'

In [27]:
df = raw_df.assign(salary_times_thousand = lambda x: x['salary']*1000)

df[['salary', 'salary_times_thousand']].head()

    salary  salary_times_thousand
0  31400.0             31400000.0
1  33098.0             33098000.0
2  32870.0             32870000.0
3  35000.0             35000000.0
4  33606.0             33606000.0

## Running Regressions

- To run regressions, we need to set up a regression "object"
- Regression comes in steps:
    - Setting up the object
    - Fitting the object
    - Looking at the results

In [34]:
mod = sm.ols('salary ~ GPA ', data=df) ## Like writing down the equation
results = mod.fit() ## Like doing the minimization problem 
results.summary() ## Computing the numbers and showing in a table

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.546
Model:                            OLS   Adj. R-squared:                  0.543
Method:                 Least Squares   F-statistic:                     168.6
Date:                Wed, 14 Aug 2019   Prob (F-statistic):           8.41e-26
Time:                        15:35:14   Log-Likelihood:                -1481.5
No. Observations:                 142   AIC:                             2967.
Df Residuals:                     140   BIC:                             2973.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -1.085e+05   1.14e+04     -9.527      0.000   -1.31e+05    -8.6e+04
GPA         4.472e+04   3443.924     12.986      0.000    3.79e+04    5.15e+04
==============================================================================
Omnibus:                        3.342   Durbin-Watson:                   1.960
Prob(Omnibus):                  0.188   Jarque-Bera (JB):                2.849
Skew:                           0.269   Prob(JB):                        0.241
Kurtosis:                       3.437   Cond. No.                         59.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

## A Note on Patsy Regression Writing

- The formula above `salary ~ GPA` is actually part of another package that `pandas` uses to write regression formulas, `patsy`
- `patsy` is great for creating dataframes based on formulas
- For more information on what you can do, check:
 [https://patsy.readthedocs.io/en/latest/formulas.html](https://patsy.readthedocs.io/en/latest/formulas.html)
 
- As we'll see, it might be necessary to make more complicated formulas with our variables
- `patsy` formulas are perfect for combining variables together, but if you need
- You can also use numpy functions:
    - `np.power()` raising something to a power
        - ex. `np.power(salary,2)`
    - `np.log()` logging a variable
        - ex. `np.log(salary)`

In [35]:
### Let's take our variable from before, 1000*salary
mod = sm.ols('GPA ~ salary_times_thousand', data=df) ## Like writing down the equation
results = mod.fit() ## Like doing the minimization problem 
results.summary() ## Computing the numbers and showing in a table

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    GPA   R-squared:                       0.546
Model:                            OLS   Adj. R-squared:                  0.543
Method:                 Least Squares   F-statistic:                     168.6
Date:                Wed, 14 Aug 2019   Prob (F-statistic):           8.41e-26
Time:                        15:42:27   Log-Likelihood:                 81.955
No. Observations:                 142   AIC:                            -159.9
Df Residuals:                     140   BIC:                            -154.0
Df Model:                           1
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                 2.8237      0.039     73.219      0.000       2.747       2.900
salary_times_thousand  1.222e-08   9.41e-10     12.986      0.000    1.04e-08    1.41e-08
==============================================================================
Omnibus:                        3.145   Durbin-Watson:                   1.768
Prob(Omnibus):                  0.208   Jarque-Bera (JB):                3.362
Skew:                          -0.063   Prob(JB):                        0.186
Kurtosis:                       3.743   Cond. No.                     1.38e+08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.38e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

## Appendix

Patsy Formula language (from link above):

~

Separates the left-hand side and right-hand side of a formula. Optional. If not present, then the formula is considered to contain a right-hand side only.


+

Takes the set of terms given on the left and the set of terms given on the right, and returns a set of terms that combines both (i.e., it computes a set union). Note that this means that a + a is just a.

-

Takes the set of terms given on the left and removes any terms which are given on the right (i.e., it computes a set difference).

*

a * b is short-hand for a + b + a:b, and is useful for the common case of wanting to include all interactions between a set of variables while partitioning their variance between lower- and higher-order interactions. Standard ANOVA models are of the form a * b * c * ....

/

This one is a bit quirky. a / b is shorthand for a + a:b, and is intended to be useful in cases where you want to fit a standard sort of ANOVA model, but b is nested within a, so a*b doesn’t make sense. So far so good. Also, if you have multiple terms on the right, then the obvious thing happens: a / (b + c) is equivalent to a + a:b + a:c (/ is rightward distributive over +). But, if you have multiple terms on the left, then there is a surprising special case: (a + b)/c is equivalent to a + b + a:b:c (and note that this is different from what you’d get out of a/c + b/c – / is not leftward distributive over +). Again, this is motivated by the idea of using this for nested variables. It doesn’t make sense for c to be nested within both a and b separately, unless b is itself nested in a – but if that were true, then you’d write a/b/c instead. So if we see (a + b)/c, we decide that a and b must be independent factors, but that c is nested within each combination of levels of a and b, which is what a:b:c gives us. If this is confusing, then my apologies… S has been working this way for >20 years, so it’s a bit late to change it now.

:

This takes two sets of terms, and computes the interaction between each term on the left and each term on the right. So, for example, (a + b):(c + d) is the same as a:c + a:d + b:c + b:d. Calculating the interaction between two terms is also a kind of set union operation, but : takes the union of factors within two terms, while + takes the union of two sets of terms. Note that this means that a:a is just a, and (a:b):(a:c) is the same as a:b:c.

**

This takes a set of terms on the left, and an integer n on the right, and computes the * of that set of terms with itself n times. This is useful if you want to compute all interactions up to order n, but no further.